body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Baloo Bhaina 2", sans-serif;
    line-height: 1.6vw;
    background: rgb(248, 248, 248);
    color: rgba(48, 48, 48, 1);
}

header {
    width: 100%;
    height: 168px;
    background-color: #6B9160;
}

header>.header-1 {
    width: 1244px;
    height: 95px;
    margin: 0px auto;
}

header>.header-1>.logo-left {
    width: 165px;
    height: 95px;
    float: left;
}

header>.header-1>.logo-left img {
    width: 100%;
    height: 95px;
}

header>.header-1>.login {
    width: 153px;
    height: 40px;
    float: right;
    margin: 30px 0px;
    border-right: 1px solid #ffffff;
}

header>.header-1>.login>.img-login {
    width: 38px;
    height: 38px;
    border-radius: 20px;
    float: left;
}

header>.header-1>.login>.img-login img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

header>.header-1>.login>.name-login {
    float: left;
    font-size: 20px;
    padding: 10px;
    color: #ffffff;
}

header>hr {
    opacity: 40%;
}

nav {
    width: 1440px;
    display: flex;
    justify-content: center;
    /* Căn giữa theo chiều ngang */
    align-items: center;
}

nav ul {
    display: flex;
    /* Sử dụng Flexbox để sắp xếp các mục menu theo hàng ngang */
    justify-content: space-between;
    /* Dàn đều các mục menu và tạo khoảng cách giữa chúng */
    padding: 0;
    /* Loại bỏ padding mặc định */
    margin: 0;
    /* Loại bỏ margin mặc định */
    list-style: none;
}

nav li {
    flex-grow: 1;
    /* Đảm bảo các mục menu co giãn đều */
    text-align: center;
    text-decoration: none;
}

nav a {
    display: block;
    /* Biến các liên kết thành block để dễ dàng điều chỉnh */
    padding: 10px 20px;
    /* Khoảng cách bên trong mỗi mục */
    text-decoration: none;
    /* Bỏ gạch chân */
    color: #ffffff;
    /* Màu văn bản */
    /* Màu nền của mục menu */
    transition: background-color 0.3s ease;
    /* Hiệu ứng khi hover */
}

nav a:hover {
    color: rgb(0, 0, 0);
}


/* --------------------------------footer------------------------------ */

footer {
    display: flex;
    flex-direction: column;
    padding: 0 5rem;
    background-color: rgb(107, 145, 96);
    color: rgb(248, 248, 248);
}

.footer-content {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    justify-content: space-around;
    padding-top: 3rem;
}

.contact-info,
.address-info,
.opening-hours {
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-info,
.address-info {
    border-width: 0px 1px 0px 0px;
    border-color: #FFFFFF29;
    border-style: solid;
}

.contact-info p,
.address-info p,
.opening-hours p {
    display: block;
    margin: 0;
    font-size: 1vw;
}

.contact-info h3,
.address-info h3,
.opening-hours h3 {
    font-size: 1.8vw;
    font-weight: 500;
}

.footer-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1.2rem;
}

.footer-line span {
    margin: 0 0.8rem;
}

.footer-line::before {
    display: block;
    content: "";
    border-block-end: 0;
    flex-grow: 1;
    border-block-start: 1px solid rgba(255, 255, 255, 0.161);
}

.footer-line::after {
    display: block;
    content: "";
    border-block-end: 0;
    flex-grow: 1;
    border-block-start: 1px solid rgba(255, 255, 255, 0.161);
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
}

.footer-bottom p {
    display: flex;
    align-items: center;
    font-size: 1vw;
}

.footer-bottom .logo {
    width: 16vw;
}

.footer-bottom .social-media {
    width: 12vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0 1vw;
}

.footer-bottom .social-media img {
    width: 2.2vw;
}


/* --------------------------------------- main --------------------------------------- */

main {
    width: 1240px;
    height: 775px;
    margin: 0px auto;
}

main>.row-1 {
    width: 1240px;
    height: 369px;
}

main>.row-1>h1 {
    font-size: 48px;
    color: #6B9160;
}

main>.row-1>p {
    font-size: 24px;
}

main>.row-1>.col-left {
    float: left;
}

main>.row-1>.col-right>p {
    font-size: 24px;
}

main>.row-1>.col-left>p {
    font-size: 24px;
}

main>.row-1>.col-right {
    float: right;
}

main>.row-1>.col-left>h2 {
    font-size: 32px;
    color: #6B9160;
}

main>.row-1>.col-right>h2 {
    font-size: 32px;
    color: #6B9160;
}

main>table {
    width: 1240px;
    border-collapse: collapse;
}

main>table,
thead {
    color: #6e6b6b;
    text-align: center;
    font-size: 24px;
}

td {
    border: 1px solid black;
    padding: 6px;
}

main>table,
tbody {
    text-align: center;
}

.price {
    font-size: 24px;
}

.name {
    font-size: 32px;
}

.soluong {
    color: #6e6b6b;
}

main>h3 {
    text-align: center;
    font-size: 32px;
    color: #6B9160;
}

main>.for {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    /* Căn giữa theo chiều ngang */
    align-items: center;
}

.for>.confirm {
    width: 185px;
    height: 40px;
    background-color: #6B9160;
    text-align: center;
    font-size: 24px;
    border-radius: 5px;
    margin-right: 50px;
    border: 1px solid gray;
}

.for>.cancal {
    width: 185px;
    height: 40px;
    background-color: #66325C;
    text-align: center;
    font-size: 24px;
    border-radius: 5px;
    border: 1px solid gray;
}

.cancal>a {
    text-decoration: none;
    color: antiquewhite;
}

.confirm>a {
    text-decoration: none;
    color: antiquewhite;
}