
.checkout-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.info-order {
  display: flex;
  flex-direction: column;
}

.info-order-1 {
  display: flex;
  flex-direction: column;
}

.info-order-1 h1 {
  color: rgb(107, 145, 96);
  margin: 2rem 0 1rem;
}

.info-order-1 p {
  margin: 0;
}

.info-order-1 p a {
  text-decoration: none;
  color: rgb(107, 145, 96);
}

.info-order-1 form input {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.2rem;
  margin: 0 0 1rem;
}

.info-order-1 form .form-info {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.info-order-1 form .form-info input {
  width: 100%;
}

.info-order-1 form .form-address {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
  margin: 0 0 1rem;
}

.info-order-1 form .form-address select {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.2rem;
}

.info-order-1 form textarea {
  width: 100%;
  height: 5rem;
  padding: 0.5rem;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.2rem;
}

.info-order-2 {
  display: flex;
  flex-direction: column;
  margin: 0 0 2rem;
}

.info-order-2 h1 {
  margin: 2rem 0 1rem;
  color: rgb(107, 145, 96);
}

.info-order-2 .info-order-check  {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.info-pro {
  display: flex;
  flex-direction: column;
}

.info-pro-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.info-pro-1 h1 {
  color: rgb(107, 145, 96);
  margin: 2rem 0 1rem;
}

.info-pro-1 p {
  font-size: 1.4rem;
  margin: 2rem 0 1rem;
}

.info-pro-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 0 1rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.info-pro-2-name {
  margin: 0 3rem 0 1rem;
}

.info-pro-2-img {
  width: 10rem;
  height: 7rem;
  position: relative;
}

.info-pro-2-img img {
  width: 10rem;
  height: 7rem;
  border-radius: 0.4rem;
  object-fit: cover;
}

.info-pro-2-img p {
  position: absolute;
  border-radius: 50%;
  top: -26px;
  right: -10px;
  width: 26px;
  height: 26px;
  background-color: rgb(107, 145, 96);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-pro-3 {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin: 1rem 0;
  padding: 0 0 1rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.info-pro-3 input {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.2rem;
}

.info-pro-3 .apdung {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.2rem;
  background-color: rgba(0, 0, 0, 0.4);
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 600;
}

.info-pro-4 {
  display: flex;
  flex-direction: column;
  padding: 0 0 1rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.info-pro-4-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.info-pro-4-text p {
  margin: 0 0 0.5rem 0;
}

.info-pro-4-text strong {
  font-weight: 500;
}

.info-pro-5 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.info-pro-5 p {
  font-size: 1.2rem;
  margin: 0;
}

.info-pro-5 strong {
  font-weight: 500;
  font-size: 1.4rem;
}

.info-pro-6 {
  display: flex;
  justify-content: flex-end;
}

.thanhtoan {
  width: 10vw;
  background-color: rgb(107, 145, 96);
  color: rgb(255, 255, 255);
  font-weight: 500;
  padding: 0.6rem 2rem 0.5rem;
  border-radius: 2rem;
  text-decoration: none;
  font-size: 1.6vw;
  transition: background-color 0.3s ease;
  margin-top: 1.2rem;
  text-align: center;
}

.thanhtoan:hover {
  background-color: rgb(195, 230, 186);
  color: rgba(48, 48, 48, 0.8);
}





