/* ----------------------------------------------- main -------------------------------------------------- */

.contact-main {
  display: flex;
  flex-direction: column;
  padding: 0 5rem;
}

.contact-main>.container {
  display: flex;
  flex-direction: column;
  padding: 0 5rem;
  padding: 0 5rem;
}

.contact-main>.container>.product {
  display: flex;
  flex-direction: row;
  margin: 30px 0;
}

.contact-main>.container>.product>.pro-img {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.contact-main>.container>.product>.pro-img>.pro-img-big>img {
  width: 100%;
}

.contact-main>.container>.product>.product-info {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0 0 0 40px;
}

.contact-main>.container>.product>.product-info>h1 {
  color: rgb(107, 145, 96);
}

.contact-main>.container>.product>.product-info>.pro-des {
  display: flex;
  flex-direction: column;
  padding: 3px 0;

}

.contact-main>.container>.product>.product-info>.pro-des>p {
  font-size: 18px;
  line-height: 38px;
  margin: 10px 0 0 0;
}

.contact-main>.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-main>.form>.form-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.contact-main>.form>.form-row>.form-name,
.contact-main>.form>.form-row>.form-email {
  width: 100%;
  margin-bottom: 10px;
  font-size: 20px;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.contact-main>.form>input {
  width: 100%;
  margin-bottom: 10px;
  font-size: 20px;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.contact-main>.form>.form-text {
  height: 150px;
}

.contact-main>.pro-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.contact-main>.pro-row>h4 {
  font-weight: 500;
}

.contact-main>.pro-row>.gui {
  width: 10vw;
  background-color: rgb(107, 145, 96);
  color: rgb(255, 255, 255);
  font-weight: 500;
  padding: 0.6rem 2rem 0.5rem;
  border-radius: 2rem;
  text-decoration: none;
  font-size: 1.6vw;
  transition: background-color 0.3s ease;
  /* margin-top: 1.2rem; */
  text-align: center;
}

.contact-main>.pro-row>.gui:hover {
  background-color: rgb(195, 230, 186);
  color: rgba(48, 48, 48, 0.8);
}