.container-detail {
    display: flex;
    flex-direction: column;
    padding: 0 5rem;
    /* padding: 0 5rem; */
}

.container-detail .product {
    display: flex;
    flex-direction: row;
    margin: 30px 0;
}

.container-detail .pro-img {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0 60px 0 0;
}

.container-detail .product-info {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 10px;
}

.container-detail .pro-img-big img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.container-detail .pro-img-mini {
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 100%;
    height: 8rem;
}

.container-detail .pro-img-mini img {
    width: 32%;
    border-radius: 10px;
    object-fit: cover;
}

.container-detail .product-info h2 {
    margin: 5px 0 15px 0;
    color: rgb(107, 145, 96);
    line-height: 40px;
    font-size: 34px;
}

.container-detail .product-info h4 {
    margin: 0;
    color: rgb(107, 145, 96);
    line-height: 24px;
    font-weight: 600;
    font-size: 24px;
}

.container-detail .pro-des {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    border-block-start: 1px solid rgba(0, 0, 0, 0.1);
}

.container-detail .pro-des p {
    font-size: 18px;
    line-height: 24px;
    margin: 10px 0 0 0;
}

.container-detail .pro-descsiton {
    font-size: 18px;
    font-weight: 600;
}

.container-detail .pro-qua {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0;
    border-block-start: 1px solid rgba(0, 0, 0, 0.1);
}

.container-detail .pro-quantity {
    font-size: 18px;
    font-weight: 600;
}

.container-detail .pro-quantity-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 0 10px;
}

.container-detail .pro-quantity-input p {
    margin: 0;
    padding: 6px 10px;
    background: rgba(48, 48, 48, 0.2);
}

.container-detail .pro-quantity-input span {
    padding: 6px 10px;
    background: rgba(48, 48, 48, 0.1);
}

.container-detail .pro-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.container-detail .themGio {
    width: 15vw;
    background-color: rgb(102, 50, 92);
    color: rgb(255, 255, 255);
    font-weight: 500;
    padding: 0.6rem 2rem 0.5rem;
    border-radius: 2rem;
    text-decoration: none;
    font-size: 1.6vw;
    transition: background-color 0.3s ease;
    margin-top: 1.2rem;
    text-align: center;
}

.container-detail .themGio:hover {
    background-color: rgb(230, 186, 221);
    color: rgba(48, 48, 48, 0.8);
}

.container-detail .muaNgay {
    width: 10vw;
    background-color: rgb(107, 145, 96);
    color: rgb(255, 255, 255);
    font-weight: 500;
    padding: 0.6rem 2rem 0.5rem;
    border-radius: 2rem;
    text-decoration: none;
    font-size: 1.6vw;
    transition: background-color 0.3s ease;
    margin-top: 1.2rem;
    text-align: center;
}

.container-detail .muaNgay:hover {
    background-color: rgb(195, 230, 186);
    color: rgba(48, 48, 48, 0.8);
}

.container-detail .danhgia {
    display: flex;
    flex-direction: column;
}

.container-detail .danhgia-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-block-end: 1px solid rgba(0, 0, 0, 0.1);
}

.container-detail .danhgia-content {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    border-block-end: 1px solid rgba(0, 0, 0, 0.1);
}

.container-detail .danhgia-content:last-child {
    border-block-end: none;
}

.container-detail .danhgia-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 1rem;
}

.container-detail .danhgia-name img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 0 0 0 0;
    object-fit: cover;
}

.container-detail .danhgia-name h3 {
    margin: 0 0 0 1rem;
}

.container-detail .danhgia-ims {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 15px;
}

.container-detail .danhgia-ims img {
    height: 100px;
}
/* ---------------------------------------------------------------------------- */
.container-detail .cakes {
    width: 1440px;
    height: 390px;
    text-align: center;
    font-size: 48px;
    color: #6B9160;
    font-weight: bold;
}

.container-detail>.underline {
    display: flex;
    align-items: baseline;
    margin: 0 0 1rem 0;
    font-size: 2.4vw;
    line-height: 2.4vw;
    font-weight: 600;
    padding-top: 1vw;
    color: #66325C;
}

.container-detail>.underline::after {
    width: 4vw;
    display: block;
    content: "";
    border-block-end: 0;
    border-block-start: 1px solid #66325C;
}

/* 
.cakes {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.container-detail>.cakes>.meu-cake {
    width: 1400px;
    height: 410px;
    margin: 0px auto;
    position: relative;
}

.container-detail>.cakes>.meu-cake>.left-1{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    left: 0%;
    bottom: 50%;
    border: none;
    background-color: #66325C;
}

.container-detail>.cakes>.meu-cake>.right-1{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    right: 0%;
    bottom: 50%;
    border: none;
    background-color: #66325C;
}

.container-detail>.cakes>.meu-cake>.cake-4 {
    width: 1300px;
    height: 358px;
    margin: 0px auto;
}

.container-detail>.cakes>.meu-cake>.cake-4>.col-4-1 {
    width: calc(calc(100% - 32px)/4);
    height: 358px;
    text-align: center;
    float: left;
    border-radius: 10px;
    background-color: #E6BADD;
}

/* .col-4-1 {
    background-color: #E6BADD;
} */

.container-detail>.cakes>.meu-cake>.cake-4>.mgr-10{
    margin-right: 10px;
  }

.container-detail>.cakes>.meu-cake>.cake-4>.col-4-1>.img-cakes {
    width: 317px;
    height: 213px;
}

.container-detail>.cakes>.meu-cake>.cake-4>.col-4-1>.img-cakes img {
    width: 100%;
    height: 100%;
    margin: 0px auto;
    border-radius: 10px 10px 0 0;
    object-fit: cover ;
}

.container-detail>.cakes>.meu-cake>.cake-4>.col-4-1>.price-cake {
    font-size: 20px;
    color: #303030;
    opacity: 80%;
    margin: 5px;
    font-weight: 600;
}

.container-detail>.cakes>.meu-cake>.cake-4>.col-4-1>.name-cake {
    /* width: 100%; */
    height: 40px;
    font-size: 22px;
    color: #ffffff;
    font-weight: bold;
    margin: 10px;
    object-fit: cover;
}

.container-detail>.cakes>.meu-cake>.cake-4>.col-4-1>button {
    font-size: 22px;
    background-color: #66325C;
    color: #ffffff;
    width: 230px;
    height: 45px;
    border-radius: 30px;
    border: none;
}