/* -------------------------------------- main ------------------------------------ */

.main-login {
    display: flex;
    justify-content: center;
}

.login-box {
    background-color: rgb(230, 186, 221);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-width: 350px;
    /* Giới hạn chiều rộng khung */
    margin: 50px 0;
    /* Căn giữa trên trang */
}

.login-box form {
    display: flex;
    flex-direction: column;
}

.login-box h2 {
    color: #fff;
    margin-bottom: 15px;
    font-size: 18px;
    /* Thu nhỏ kích thước chữ */
}

.login-box input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-box .links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    /* Giảm khoảng cách phía dưới */
}

.login-box .links a {
    color: #333;
    font-size: 16px;
    /* Giảm kích thước chữ */
    text-decoration: none;
}

.login-box button {
    width: 100%; /* Thu nhỏ chiều rộng nút */
    padding: 8px; /* Giảm padding */
    border: 1px solid #ccc;
    border-radius: 5px;
    color: rgb(102, 50, 92);
    font-weight: 600;
    cursor: pointer;
    margin: 10px 0 30px;
}
