/* ---------------------------------- main ------------------------------------- */

.order-details-container {
    text-align: center;
}

.order-details-container h2 {
    color: rgb(107, 145, 96);
}

.order-details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    text-align: left;
}

.customer-info .order {
    color: rgb(102, 50, 92);
}

.customer-info p {
    font-size: 20px;
    color: rgb(107, 145, 96);
}

.customer-info-color {
    color: rgba(48, 48, 48, 0.8);
}

.image-quantity {
    position: relative;
    width: 150px;
    height: 100px;
}

.image-quantity p {
    position: absolute;
    border-radius: 50%;
    top: -27px;
    right: -10px;
    width: 30px;
    height: 30px;
    background-color: rgb(107, 145, 96);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.order-summary img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 10px;
}

.order-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.161);
    color: rgb(107, 145, 96);
    padding-bottom: 10px;
}

.order-item-name {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.order-item-price {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(0, 0, 0, 0.161);
}

.order-item-price-col {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.order-item-price-col p {
    margin: 10px 0;
}

.order-item-price-cols {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.161);
}

.customer-info-col {
    color: rgb(102, 50, 92);
    font-size: 22px;
}