.main-register {
    display: flex;
    justify-content: center;
}
.register-box {
    background-color: #C3E6BA;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-width: 350px;
    /* Giới hạn chiều rộng tối đa */
    margin: 50px 0;
    /* Căn giữa theo chiều ngang và thêm khoảng cách trên */
}

.register-box h2 {
    color: #ffffff;
    margin-bottom: 20px;
}

.register-box form {
    display: flex;
    flex-direction: column;
}

.register-box input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.register-box button {
    /* width: 55%; */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #6B9160;
    font-weight: 600;
    margin: 20px 0 30px;
}